* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-around;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-login div {
  justify-content: flex-end;
  display: flex;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

#evaluation-form {
  display: flex;
  flex-basis: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#form-first {
  display: flex;
  flex-wrap: wrap;
}

#forma-second {
  display: flex;
}

#input-radio {
  display: flex;
  flex-direction: column;
}

#input-checkbox {
  display: flex;
  flex-direction: column;
}

#input-satisfying {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#satisfying-radio {
  display: flex;
  justify-content: space-evenly;
}

.rate-radio {
  display: flex;
  flex-direction: column-reverse;
}
